html {
  background-color: black;
  color: whitesmoke;
}

button {
  margin-left: 5px;
  background-color: rgb(255, 255, 108);
  border: 2px solid rgb(255, 255, 108);
  color: rgb(33, 0, 0);
  border-radius: 20px;
  padding: 5px 10px;
  box-shadow: 0px 0px 8px #fc0;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px double rgb(255, 255, 255);
  box-shadow: inset 0 0 14px gold;
  border-radius: 20px;
  text-align: center;
  text-shadow: #fc0 0px 0px 10px;
  padding: 10px;
}



h2 {
  margin-top: 0;
}

li {
  list-style: none;
}

input {
  background-color: white;
  border: 1px solid black;
  color: rgb(74, 74, 74);
  border-radius: 20px;
  padding: 4px 8px;
  margin: 5px;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  padding: 5px;
}

.addTask {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: inset 0 0 10px rgb(255, 57, 57);
  border-radius: 20px;
  padding: 20px;
}

input:focus {
  outline: none;
  border: 3px solid rgba(129, 2, 2);
  box-shadow: 0px 0px 5px white;
}

.allTasks {
  width: 75%;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: inset 0 0 15px rgb(255, 0, 0);
  border-radius: 20px;
  padding: 20px;
}

.uniqueTask {
  display: flex;
  justify-content: space-between;
  background-color: rgba(129, 2, 2, 0.732);
  box-shadow: 0 0 4px white;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 8px;
  padding: 2px;
  padding-left: 8px;
  font-weight: bold;
  font-size: large;
}

.taskDate{
  margin-right: 10px;
  font-weight: lighter;
  font-size: 14px;
}

.uniqueTask button {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.uniqueTask select {
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  margin: 8px;
  box-shadow: 0px 0px 8px rgb(255, 255, 255, 0.8);
}

.crud {
  display: flex;
  align-content: space-between;
}

.todo {
  background-color: rgba(129, 2, 2, 0.732);
}

.done {
  background-color: rgb(122, 172, 83);
  color:black;
}

.inProgress {
  background-color: rgb(252, 231, 112);
  color: black;
}

.uniqueTask .buttonCrud {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.1);
  color: whitesmoke;
  box-shadow: 0px 0px 6px rgb(0, 0, 0);
}





.htmlLight {
  color: black;
  background-color: white;
}

.h1Light {
  border: 4px double rgb(125, 125, 125);
  box-shadow: inset 0 0 14px rgb(229, 229, 99);
  text-shadow: rgb(255, 255, 108) 0px 0px 10px;
}

.containerLight {
  border: 1px solid rgb(141, 25, 25);
  box-shadow: inset 0 0 12px rgb(147, 12, 12);
}

.buttonLight {

  background-color: rgba(141, 25, 25, 0.666);
  border: 2px solid rgb(141, 25, 25, 0.3) ;
  color: rgb(255, 255, 108);
  
  box-shadow: 0px 0px 8px rgb(95, 0, 0,0.8);
}
