html {
  background-color: rgb(20, 0, 0);
  color: whitesmoke;
}

button {
  margin-left: 5px;
  background-color: rgb(255, 255, 108);
  border: 2px solid rgb(255, 255, 108);
  color: rgb(33, 0, 0);
  border-radius: 20px;
  padding: 5px 10px;
  box-shadow: 0px 0px 8px #fc0;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px double rgb(255, 255, 255);
  box-shadow: inset 0 0 14px gold;
  border-radius: 20px;
  text-align: center;
  text-shadow: #fc0 0px 0px 10px;
  padding: 10px;
}

h2 {
  margin-top: 0;
}

li {
  list-style: none;
}

input {
  background-color: white;
  border: 1px solid black;
  color: rgb(74, 74, 74);
  border-radius: 20px;
  padding: 4px 8px;
  margin: 5px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 5px;
  padding: 5px;
  margin: 5px;
}

.addTask {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: inset 0 0 10px rgb(255, 57, 57);
  border-radius: 20px;
  padding: 20px;
  width: 20%;
}

.addTask label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 8px;
}

.addTask label input {
  margin-left: auto;
  width: 60%;
}

input:focus {
  outline: none;
  border: 3px solid rgba(129, 2, 2);
  box-shadow: 0px 0px 5px white;
}

.allTasks {
  border: 2px solid rgb(255, 255, 255);
  box-shadow: inset 0 0 15px rgb(255, 0, 0);
  border-radius: 20px;
  padding: 20px;
  margin-top: 20px;
}

.allTasks h2 {
  margin-top: 5px;
}

.uniqueTask {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  background-color: rgba(129, 2, 2, 0.732);
  box-shadow: 0 0 4px white;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 8px;
  padding: 2px;
  padding-left: 8px;
  font-weight: bold;
  font-size: large;
}

.taskDate {
  margin-right: 10px;
  font-weight: lighter;
  font-size: 14px;
}

.uniqueTask button {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

select {
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  margin: 8px;
  box-shadow: 0px 0px 8px rgb(255, 255, 255, 0.8);
}

.crud {
  display: flex;
  align-content: space-between;
}

.Todo {
  background-color: rgba(129, 2, 2, 0.732);
}

.Done {
  background-color: rgb(122, 172, 83);
  color: black;
}

.InProgress {
  background-color: rgb(252, 231, 112);
  color: black;
}

.uniqueTask .buttonCrud {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.1);
  color: whitesmoke;
  box-shadow: 0px 0px 6px rgb(0, 0, 0);
}

.TasksGeneral {
  width: 75%;
}

.filters label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.filters input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.filters label:nth-child(2) input[type="checkbox"]:checked {
  background: linear-gradient(45deg, rgb(129, 2, 2), rgb(255, 255, 108));
  border-color: #888;
}

.filters label:nth-child(3) input[type="checkbox"]:checked {
  background-color: rgba(129, 2, 2, 0.732);
  border-color: rgba(129, 2, 2, 0.732);
}

.filters label:nth-child(4) input[type="checkbox"]:checked {
  background-color: rgb(252, 231, 112);
  border-color: rgb(252, 231, 112);
}

.filters label:nth-child(5) input[type="checkbox"]:checked {
  background-color: rgb(122, 172, 83);
  border-color: rgb(122, 172, 83);
}

.allTasks ul {
  list-style: none;
  padding: 5px;
  width: 100%;
  height: 250px;
  overflow-y: scroll;
  scrollbar-color: rgb(129, 2, 2) gold;
  scrollbar-width: thin;
}

.allTasks ul li {
  margin-bottom: 10px;
  cursor: grab;
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
}

.allTasks ul li:active {
  cursor: grabbing;
}

.allTasks ul li[draggable="true"]:hover {
  transform: scale(1.02);
}

.allTasks ul li.dragging {
  opacity: 1;
  transform: rotate(3deg) scale(1.05);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  z-index: 1000;
  background: rgba(255, 255, 255, 0.1);
  border: 2px dashed #666;
}

.allTasks ul li:not(.dragging):hover {
  background: rgba(255, 255, 255, 0.05);
}

fieldset {
  margin: 0;
  border-radius: 10px;
  display: flex;
  gap: 5px;
}

.htmlLight {
  color: black;
  background-color: rgb(250, 250, 250);
}

.containerLight,
.h1Light {
  border-radius: 20px;
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(45deg, rgb(129, 2, 2), rgb(255, 255, 108)) border-box;
  border: 3px solid transparent;
  box-shadow: none;
}

.h1Light {
  text-shadow: rgb(255, 255, 108) 0px 0px 10px;
}

.buttonLight {
  background: linear-gradient(45deg, rgb(129, 2, 2), rgb(255, 255, 108));
  border: 4px solid transparent;
  border-radius: 20px;
  background:
    linear-gradient(45deg, rgb(129, 2, 2), rgb(255, 255, 108)) padding-box,
    linear-gradient(45deg, rgb(129, 2, 2), rgb(255, 255, 108)) border-box;
  color: rgb(255, 255, 108);
  box-shadow: 0px 0px 8px rgba(95, 0, 0, 0.8);
}

.selectLight {
  border-color: black;
}

@media screen and (max-width: 780px) {
  .container {
    flex-direction: column;
    align-items: stretch;
  }
  .TasksGeneral {
    width: 100%;
  }
  fieldset {
    justify-content: center;
  }
  .addTask {
    align-items: center;
    width: 90%;
  }

  button {
    margin-left: 2px;
  }
}
