html {
  background-color: black;
  color: antiquewhite;
}

button {
  margin-left: 5px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 0, 0);
  color: rgb(33, 0, 0);
  border-radius: 20px;
  padding: 5px 10px;
}

h1 {
  border: 5px double rgb(255, 255, 255);
  box-shadow: inset 0 0 14px gold;
  border-radius: 20px;
  text-align: center;
  color: #ffffff;
  text-shadow: #fc0 0px 0px 10px;
  padding: 10px;
}

h2{
  margin-top: 0;
}

li {
  list-style: none;
}

input {
  background-color: white;
  border: 1px solid black;
  color: rgb(74, 74, 74);
  border-radius: 20px;
  padding: 4px 8px;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  padding: 5px;
}

.addTask {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: inset 0 0 10px rgb(255, 57, 57);
  border-radius: 20px;
  color: #ffffff;
  padding: 20px;
}

.addTask input {
  margin: 5px;
}

.allTasks {
  width: 75%;
   border: 2px solid rgb(255, 255, 255);
  box-shadow: inset 0 0 15px rgb(255, 0, 0);
  border-radius: 20px;
  color: #ffffff;
  padding: 20px;
}

.uniqueTask {
  display: flex;
  justify-content: space-between;
  background-color: rgba(129, 2, 2, 0.732);
  box-shadow: 0 0 4px rgb(185, 7, 7);
  align-items: center;
  border-radius: 5px;
  margin-bottom: 8px;
  padding: 2px;
  padding-left:10px;
  font-weight: bold;
  font-size: large;
}

.uniqueTask button {
  background-color: transparent;
  border: none;
}

.uniqueTask select {
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
}

.done{
  background-color: rgb(25, 60, 0);
}

.inProgress{
  background-color: #fc0;
}